$apricot: #F4A27E;
$apricotpeach: #F9C29D;
$corvette: #FCD4A4;
$colonialwhite: #FFE6AB;

$black: #000000;
$white: #FFFFFF;
$iron: #DADFE2;
$loblolly: #BEC8CE;
$oslogray: #90969A;
$outerspace: #1F282C;
$charade: #0D0D0E;

body {
  font-family: "Roboto", sans-serif;
  color: $black;
  background: $white;
  margin: 0;
  min-width: 600px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: $outerspace;
  font-size: 50px;
  font-style: normal;
  font-weight: lighter;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: $outerspace;
  font-weight: 400;
}

h3 {
  color: $oslogray;
}

h4 {
  margin-bottom: 0;
}
p {
  margin: 0;
}

.repo-title, .branch-title {
  display: flex;
  align-items: center;
}

a {
  color: $charade;
  cursor: pointer;
}

a:hover {
  color: $colonialwhite;
}

button {
  all: unset;
  padding-left: 1rem;
  padding-right: 1rem;
  color: $outerspace;

  &:hover {
    color: $apricot;
    cursor: pointer;
  }
}

input {
  background: white;
  border-radius: 15px;
  border-width: thin;
  height: 2rem;
  margin-right: 2rem;
}

input[type="text"] {
  padding-left: 1rem;
  padding-right: 1rem;
  background-image: url('./assets/magnifying_glass.png');
  background-position: 10px 10px; 
  background-size: 1rem;
  background-repeat: no-repeat;
  text-indent: 20px;
}

.app-frame {
  padding-top: 2.5rem;
  margin: 2rem;
}

.app-main-msg-frame{
  padding-top: 2rem;
}

.header-frame {
  background-color: lighten($oslogray, 34%);
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.magnifying-glass-img {
  transform: rotate(270deg);
  width: 24px;
}

.repo-btn {
  font-size: 32px;
}

.repo-list-frame, .branch-list-frame, .commit-list-frame {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-width: thin;
  padding: 0 1rem 1rem 1rem;
  margin: 0 1rem 1.5rem 1rem;
}

.repo-list-frame {
  background-color: lighten($colonialwhite, 12%);
}

.branch-list-frame {
  background-color: lighten($corvette, 8%);
}

.repo-list-pg-btn-frame, .branch-list-pg-btn-frame, .commit-list-pg-btn-frame {
  display: flex;
  align-items: center;
}

.repo-list-pg-btn-frame, .commit-list-pg-btn-frame {
  padding-bottom: 1rem;
}

.repo-list-pg-loading-frame {
  padding-left: 1rem;
}

.branch-list-pg-loading-frame {
  padding-left: 1rem;
}

.prev-pg-btn, .next-pg-btn {
  font-size: 48px;
}

.btn-rotated-90 {
  transform: rotate(90deg);
}

.commit-list-frame {
  background-color: lighten($apricot, 8%);
  padding-top: 0.1rem;
}

.loader {
  border: 6px solid $iron;
  border-top: 6px solid $apricot;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-frame {
  display: flex;
  align-items: center;
}

.loading-spinner-frame {
  padding-right: 1rem;
  padding-left: 1rem;
}
